@page "/clients"
@inject Blazored.LocalStorage.ILocalStorageService LocalStore

<h3>Clients</h3>


@if (isAdmin)
{
    <button @onclick="@GetAllClients" class="btn btn-primary">Get all clients</button>

    if (clients?.Count() != 0)
    {
        <div class="table-bordered">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Personal Identity</th>
                    <th>Mobile</th>
                    <th>Barcode</th>
                </tr>

                @foreach (Client client in clients)
                {
                    <ClientsView client="@client" />
                }
            </table>
        </div>
    }

    <div>
        <a class="btn btn-primary" href="/clients/add">Add Client</a>
    </div>
}
else if (isUser)
{
    <button @onclick="@GetAllClients" class="btn btn-primary">Get all clients</button>

    if (clients?.Count() != 0)
    {
        <div class="table-bordered">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Personal Identity</th>
                    <th>Mobile</th>
                    <th>Barcode</th>
                </tr>

                @foreach (Client client in clients)
                {
                    <ClientsView client="@client" />
                }
            </table>
        </div>
    }

    <div>
        <a class="btn btn-primary" href="clients/add">Add Client</a>
    </div>
}

@code {
    public bool isAdmin { set; get; }
    public bool isUser { set; get; }
    public FireBase firebase { get; set; }
    public List<Client> clients { get; set; } = new List<Client>();

    private async Task GetAllClients()
    {
        clients = await firebase.GetClients();
    }

    protected override async Task OnInitializedAsync()
    {
        firebase = new FireBase();
        isAdmin = await LocalStore.GetItemAsync<bool>("SessionAdmin");
        isUser = await LocalStore.GetItemAsync<bool>("SessionUser");
    }
}
