@page "/"

<button @onclick="ClickAdmin">Admin</button>
<button @onclick="ClickUser">User</button>


@code {
    public bool isAdmin = false;
    public bool isUser = false;
    //public bool IsLoggedIn = false;

    void ClickAdmin()
    {
        isAdmin = true;
        isUser = false;
    }

    void ClickUser()
    {
        isUser = true;
        isAdmin = false;
    }
}