@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStore

@if (isAdmin || isUser)
{
    <button @onclick="@ClearSession" class="btn btn-primary">Logout</button>
}
else
{
    <button @onclick="@ClickAdmin" class="btn btn-primary">Admin</button>
    <button @onclick="@ClickUser" class="btn btn-primary">User</button>
}


@code {
    public bool isAdmin { get; set; }
    public bool isUser { get; set; }

    private void ClickAdmin()
    {
        isAdmin = true;
        isUser = false;
        SaveSession();
    }

    private void ClickUser()
    {
        isUser = true;
        isAdmin = false;
        SaveSession();
    }

    protected override async Task OnInitializedAsync()
    {
        isAdmin = await LocalStore.GetItemAsync<bool>("SessionAdmin");
        isUser = await LocalStore.GetItemAsync<bool>("SessionUser");
    }

    public async void SaveSession()
    {
        await LocalStore.SetItemAsync("SessionAdmin", isAdmin);
        await LocalStore.SetItemAsync("SessionUser", isUser);
    }

    public async void ClearSession()
    {
        isAdmin = false;
        isUser = false;
        await LocalStore.ClearAsync();
    }
}